@model CORE.JGC.Models.MsAssetBrand[]
@{
    ViewBag.Title = "Asset Brand";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    function InputAssetBrand() {
        var BrandCodeId = document.getElementById("BrandCodeId").value;
        var BrandNameId = document.getElementById("BrandNameId").value;

        if (BrandCodeId == "") {
            $(".modal-body #peringatan3").text("Brand Code must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (BrandNameId == "") {
            $(".modal-body #peringatan3").text("Brand Name must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        }
        else {
            $.ajax({
                url: '@Url.Action("InsertAssetBrand", "Setup")',
                type: 'post',
                cache: false,
                async: true,
                data: {
                    AssetBrandCodeId: BrandCodeId,
                    AssetBrandNameId: BrandNameId
                },
                success: function (response) {
                    if (response.success == true) {
                        $(".modal-body #peringatan2").text(response.responseText);
                        $('#btnok').click(function (e) {
                            window.location.href = "@Url.Action("Assetbrand", "Setup")";
                        })
                        $("#Alert2").modal();
                    } else {
                        $(".modal-body #peringatan3").text(response.responseText);
                        $('#btnerror').click(function (e) {
                            $('#Alert3').modal('hide');
                        })
                        $("#Alert3").modal();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $(".modal-body #peringatan1").text("Please Wait...");
                    $('#btncaution').click(function (e) {
                        $('#Alert1').modal('hide');
                    })
                    $("#Alert1").modal();
                }
            });
        }
    }

    function InputEditAssetBrand() {
        var NoID = document.getElementById("NoId").value;
        var EditBrandCodeId = document.getElementById("EditBrandCodeId").value;
        var EditBrandNameId = document.getElementById("EditBrandNameId").value;

        if (EditBrandCodeId == "") {
            $(".modal-body #peringatan3").text("Brand Code must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (EditBrandNameId == "") {
            $(".modal-body #peringatan3").text("Brand Name must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        }
        else {
            $(".modal-body #peringatan4").text("Are You Sure Update Data: " + EditBrandCodeId + ' ( ' + EditBrandNameId + " ) ? ");
            $('#btnyes').click(function (e) {
                $('#Alert4').modal('hide');


                $.ajax({
                    url: '@Url.Action("UpdateAssetBrand", "Setup")',
                    type: 'post',
                    cache: false,
                    async: true,
                    data: {
                        NoID: NoID,
                        EditAssetBrandCodeId: EditBrandCodeId,
                        EditAssetBrandNameId: EditBrandNameId
                    },
                    success: function (response) {
                        if (response.success == true) {
                            $(".modal-body #peringatan2").text(response.responseText);
                            $('#btnok').click(function (e) {
                                window.location.href = "@Url.Action("Assetbrand", "Setup")";
                            })
                            $("#Alert2").modal();
                        } else {
                            $(".modal-body #peringatan3").text(response.responseText);
                            $('#btnerror').click(function (e) {
                                $('#Alert3').modal('hide');
                            })
                            $("#Alert3").modal();
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $(".modal-body #peringatan1").text("Please Wait...");
                        $('#btncaution').click(function (e) {
                            $('#Alert1').modal('hide');
                        })
                        $("#Alert1").modal();
                    }
                });
            });
            $('#btnno').click(function (e) {
                $('#Alert4').modal('hide');
            });
            $("#Alert4").modal();
        }
    }

    function UpdateAssetBrandS(NoID, BrandCodeId, BrandNameId) {

        $(".modal-body #EditBrandCodeId").val(BrandCodeId);
        $(".modal-body #EditBrandNameId").val(BrandNameId);

        $(".modal-body #NoID").val(NoID);

        $("#editModal").modal();

    }
</script>

<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="menusect">
                        <h5>
                            Setup •
                            <a href="/setup/assetbrand" class="activemenu">Asset Brand</a>
                        </h5>
                    </div>
                    <div class="x_title">
                        <h2>List of Asset Brands</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <!--<p class="headcontent">
                            Add departments that own or house the particular assets.
                            Make them as broad or as specific as you want. Departments can be 'Accounting', 'Marketing', or 'Executive'.
                            Customize to your particular need.
                        </p>-->

                        <div class="col-md-12 col-sm-12 col-xs-12 text-muted font-13 m-b-30 no-padding">
                            <div class="mgbtm20">
                                <a href="#" id="tambahbrand" class="btn btn-success btn-cust">Add New Asset Brand</a>
                            </div>
                        </div>
                        <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action">
                            <thead>
                                <tr>
                                    <th width="3%"><input type="checkbox" id="check-all" class="checks"></th></th>
                                    <th width="9%">Asset Brand</th>
                                    <th>Asset Brand Name</th>
                                    <th style="width:9%;"></th>
                                </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><input type="checkbox" id="check-all" class="checks"></td>
                                    <td><a href="#">@Html.DisplayFor(modelItem => item.BrandCode)</a></td>
                                    <td><a href="#">@Html.DisplayFor(modelItem => item.BrandName)</a></td>
                                    <td class="txtcenter">
                                        <button id="editAssetBrandbutton" name="editAssetBrandbutton" type="button" class="btn btn-success" onclick="UpdateAssetBrandS('@Html.DisplayFor(modelItem => item.Id)','@Html.DisplayFor(modelItem => item.BrandCode)','@Html.DisplayFor(modelItem => item.BrandName)')"><span class="glyphicon glyphicon-edit"></span>&nbsp;</button>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL1 START -->
<div class="modal fade" id="addModal" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content col-md-12 col-sm-12 col-xs-12 pdlr1">
            <div class="modal-header">
                <h4 class="modal-title ">Add a Asset Brand</h4>
            </div>
            <div class="modal-body col-md-12 col-sm-12 col-xs-12">

                <form class="form-horizontal form-label-left">

                    <!--<div class="form-group mgb25">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12">
                            Add departments that own or house the particular assets. Make them as broad or as specific as you want.
                            Departments can be 'Accounting', 'Marketing', or 'Executive'. Customize to your particular need.
                        </label>
                    </div>-->

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Asset Brand</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="BrandCodeId" type="text" name="BrandCodeId" class="form-control col-md-10" placeholder="Brand Code" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Asset Brand Name</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="BrandNameId" type="text" name="BrandNameId" class="form-control col-md-10" placeholder="Brand Name" />
                        </div>
                    </div>

                    <div class="ln_solid col-md-12 col-sm-12 col-xs-12"></div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12 pdlr0">
                        <div class="row col-md-12 col-sm-12 col-xs-12 pdlr0" style="text-align:right;">
                            <button id="btnAddAssetId" type="button" class="btn btn-primary" onclick="InputAssetBrand(); return false;">Add</button>
                            <button id="btnCancelAssetId" type="button" class="btn btn-default">Cancel</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
<!-- MODAL1 END -->

<!-- MODAL2 START -->
<div class="modal fade" id="editModal" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content col-md-12 col-sm-12 col-xs-12 pdlr1">
            <div class="modal-header">
                <h4 class="modal-title ">Edit Asset Brand</h4>
            </div>
            <div class="modal-body col-md-12 col-sm-12 col-xs-12">

                <form class="form-horizontal form-label-left">

                    <!--<div class="form-group mgb25">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12">
                            Add departments that own or house the particular assets. Make them as broad or as specific as you want.
                            Departments can be 'Accounting', 'Marketing', or 'Executive'. Customize to your particular need.
                        </label>
                    </div>-->

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Asset Brand</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="NoId" type="hidden" name="NoId" value="" />
                            <input id="EditBrandCodeId" type="text" name="EditBrandCodeId" class="form-control col-md-10" value="" placeholder="Brand Code" readonly />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Asset Brand Name</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="EditBrandNameId" type="text" name="EditBrandNameId" class="form-control col-md-10" value="" placeholder="Brand Name" />
                        </div>
                    </div>

                    <div class="ln_solid col-md-12 col-sm-12 col-xs-12"></div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12 pdlr0">
                        <div class="row col-md-12 col-sm-12 col-xs-12 pdlr0" style="text-align:right;">
                            <button id="btnEditAssetId" type="button" class="btn btn-primary" onclick="InputEditAssetBrand(); return false;" >Edit</button>
                            <button id="btnAssetCancelId" type="button" class="btn btn-default">Cancel</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
<!-- MODAL2 END -->

@Html.Partial("~/Views/Shared/WarningModal.cshtml")
@RenderPage("~/Views/Shared/_FooterLayout.cshtml")

<script type="text/javascript">
      $(document).ready(function(){
          $("#tambahbrand").click(function () {
              $("#addModal").modal();
          });
          //$("#AddAssetId").click(function () {
          //    $("#addModal").modal('toggle');
          //});
          $("#btnCancelAssetId").click(function () {
              $("#addModal").modal('toggle');
          });

          $("#btnAssetCancelId").click(function () {
              $("#editModal").modal('toggle');
          });

          $("#EditBrandId").click(function () {
              $("#editModal").modal();
          });

          
      });

      $("#check-all").click(function () {
          $(".checks").prop('checked', $(this).prop('checked'));
      });

</script>
