@model CORE.JGC.Models.MsAssetCategory[]
@{
    ViewBag.Title = "Asset Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    function InputCategories() {
        var CategoryCode = document.getElementById("CategoryCode").value;
        var CategoryName = document.getElementById("CategoryName").value;

        if (CategoryCode == "") {
            $(".modal-body #peringatan3").text("Category Code must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        }
        else if (CategoryName == "") {
            $(".modal-body #peringatan3").text("Category Name must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        }
        else {
            $.ajax({
                url: '@Url.Action("InsertAssetCategory", "Setup")',
                type: 'post',
                cache: false,
                async: true,
                data: {
                    AssetCategoryCodeId: CategoryCode,
                    AssetCategoryNameId: CategoryName
                },
                success: function (response) {
                    if (response.success == true) {
                        $(".modal-body #peringatan2").text(response.responseText);
                        $('#btnok').click(function (e) {
                            window.location.href = "@Url.Action("Categories","Setup")";
                        })
                        $("#Alert2").modal();
                    } else {
                        $(".modal-body #peringatan3").text(response.responseText);
                        $('#btnerror').click(function (e) {
                            $('#Alert3').modal('hide');
                        })
                        $("#Alert3").modal();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $(".modal-body #peringatan1").text("Please Wait...");
                    $('#btncaution').click(function (e) {
                        $('#Alert1').modal('hide');
                    })
                    $("#Alert1").modal();
                }
            });
        }

    }

    function InputEditCategories() {
        var EditCategoryCode = document.getElementById("EditCategoryCode").value;
        var EditCategoryName = document.getElementById("EditCategoryName").value;

        if (EditCategoryCode == "") {
            $(".modal-body #peringatan3").text("Category Code must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        }
        else if (EditCategoryName == "") {
            $(".modal-body #peringatan3").text("Category Name must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        }
        else {
            $(".modal-body #peringatan4").text("Are You Sure Update Data: " + EditCategoryCode + ' ( ' + EditCategoryName + " ) ? ");
            $('#btnyes').click(function (e) {
                $('#Alert4').modal('hide');


                $.ajax({
                    url: '@Url.Action("UpdateAssetCategory", "Setup")',
                    type: 'post',
                    cache: false,
                    async: true,
                    data: {
                        EditAssetCategoryCodeId: EditCategoryCode,
                        EditAssetCategoryNameId: EditCategoryName
                    },
                    success: function (response) {
                        if (response.success == true) {
                            $(".modal-body #peringatan2").text(response.responseText);
                            $('#btnok').click(function (e) {
                                window.location.href = "@Url.Action("Categories","Setup")";
                            })
                            $("#Alert2").modal();
                        } else {
                            $(".modal-body #peringatan3").text(response.responseText);
                            $('#btnerror').click(function (e) {
                                $('#Alert3').modal('hide');
                            })
                            $("#Alert3").modal();
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $(".modal-body #peringatan1").text("Please Wait...");
                        $('#btncaution').click(function (e) {
                            $('#Alert1').modal('hide');
                        })
                        $("#Alert1").modal();
                    }
                });
            });
            $('#btnno').click(function (e) {
                $('#Alert4').modal('hide');
            });
            $("#Alert4").modal();
        }
    }

    function UpdateAssetCategoryS(NoID,CategoryCodeId, CategoryNameId) {
      
        $(".modal-body #EditCategoryCode").val(CategoryCodeId);
        $(".modal-body #EditCategoryName").val(CategoryNameId);

        $(".modal-body #NoID").val(NoID);

        $("#editModal").modal();

    }

</script>

<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="menusect">
                        <h5>
                            Setup •
                            <a href="/setup/categories" class="activemenu">Asset Categories</a>
                        </h5>
                    </div>
                    <div class="x_title">
                        <h2>List of Asset Categories</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <p class="headcontent">
                            Add the type of groups of assets. To start with, commonly used categories have already been created for you. 
                            Make them as broad or as specific as you want. 
                            Categories can be 'laptops and printers', 'equipment', or 'chairs'. Customize to your particular need.
                        </p>

                        <div class="col-md-12 col-sm-12 col-xs-12 text-muted font-13 m-b-30 no-padding">
                            <div class="mgbtm20">
                                <a href="#" id="tambahcategory" class="btn btn-success btn-cust">Add New Asset Category</a>
                            </div>
                        </div>
                        <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action">
                            <thead>
                                <tr>
                                    <th width="3%"><input type="checkbox" id="check-all" class="checks"></th></th>
                                    <th width="11%">Category Code</th>
                                    <th>Category Name</th>
                                    <th style="width:9%;"></th>
                                </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><input type="checkbox" id="check-all" class="checks"></td>
                                    <td><a href="#">@Html.DisplayFor(modelItem => item.AssetCategoryCode)</a></td>
                                    <td><a href="#">@Html.DisplayFor(modelItem => item.AssetCategoryName)</a></td>
                                    <td class="txtcenter">
                                        <button id="editAssetCategorybutton" name="editAssetCategorybutton" type="button" class="btn btn-success" onclick="UpdateAssetCategoryS('@Html.DisplayFor(modelItem => item.Id)','@Html.DisplayFor(modelItem => item.AssetCategoryCode)','@Html.DisplayFor(modelItem => item.AssetCategoryName)')"><span class="glyphicon glyphicon-edit"></span>&nbsp;</button>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL1 START -->
<div class="modal fade" id="addModal" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content col-md-12 col-sm-12 col-xs-12 pdlr1">
            <div class="modal-header">
                <h4 class="modal-title ">Add a Asset Category</h4>
            </div>
            <div class="modal-body col-md-12 col-sm-12 col-xs-12">

                <form class="form-horizontal form-label-left">

                    <div class="form-group mgb25">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12">
                            If you want to add a new category of assets, you’re in the right spot. 
                            Add a category for computer equipment, wireless keyboards, or any assets you’re working with.
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Category Code</label>
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <input type="text" id="CategoryCode" name="CategoryCode" class="form-control col-md-10" value="" placeholder="Category Code"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Category Name</label>
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <input type="text" id="CategoryName" name="CategoryName" class="form-control col-md-10" value="" placeholder="Category Name" />
                        </div>
                    </div>

                    <div class="ln_solid col-md-12 col-sm-12 col-xs-12"></div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12 pdlr0">
                        <div class="row col-md-12 col-sm-12 col-xs-12 pdlr0" style="text-align:right;">
                            <button id="CategoryAddId" type="button" class="btn btn-primary" onclick="InputCategories(); return false;">Add</button>
                            <button id="CategoryCancelId" type="button" class="btn btn-default">Cancel</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
<!-- MODAL1 END -->

<!-- MODAL2 START -->
<div class="modal fade" id="editModal" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content col-md-12 col-sm-12 col-xs-12 pdlr1">
            <div class="modal-header">
                <h4 class="modal-title ">Edit Asset Category</h4>
            </div>
            <div class="modal-body col-md-12 col-sm-12 col-xs-12">

                <form class="form-horizontal form-label-left">

                    <div class="form-group mgb25">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12">
                            If you want to add a new category of assets, you’re in the right spot.
                            Add a category for computer equipment, wireless keyboards, or any assets you’re working with.
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Category Code</label>
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <input id="NoId" type="hidden" name="NoId" value="" />
                            <input type="text" id="EditCategoryCode" name="EditCategoryCode" class="form-control col-md-10" value="" placeholder="Category Code" readonly />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Category Name</label>
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <input type="text" id="EditCategoryName" name="EditCategoryName" class="form-control col-md-10" value="" placeholder="Category Name" />
                        </div>
                    </div>
                    <div class="ln_solid col-md-12 col-sm-12 col-xs-12"></div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12 pdlr0">
                        <div class="row col-md-12 col-sm-12 col-xs-12 pdlr0" style="text-align:right;">
                            <button id="EditCategoryId" type="button" class="btn btn-primary" onclick="InputEditCategories(); return false;">Edit</button>
                            <button id="CancelCategoryId" type="button" class="btn btn-default">Cancel</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
<!-- MODAL2 END -->

@Html.Partial("~/Views/Shared/WarningModal.cshtml")
@RenderPage("~/Views/Shared/_FooterLayout.cshtml")

<script type="text/javascript">
      $(document).ready(function(){
          $("#tambahcategory").click(function () {
              $("#addModal").modal();
          });
          //$("#CategoryAddId").click(function () {
          //    $("#addModal").modal('toggle');
          //});
          $("#CategoryCancelId").click(function () {
              $("#addModal").modal('toggle');
          });

          $("#EditCategory").click(function () {
              $("#editModal").modal();
          });
          //$("#EditCategoryId").click(function () {
          //    $("#editModal").modal('toggle');
          //});
          $("#CancelCategoryId").click(function () {
              $("#editModal").modal('toggle');
          });
      });

      $("#check-all").click(function () {
          $(".checks").prop('checked', $(this).prop('checked'));
      });

</script>