
@model CORE.JGC.Models.MsLocation[]
@{
    ViewBag.Title = "Locations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function Sites(Jenis) {
        var Column = [
                    { "data": "0" },
                    { "title": "Site Code", "data": "0" },
                    { "title": "Site Name", "data": "1" },
                    { "title": "Address", "data": "2" },
                    { "title": "City", "data": "3" },
                    { "title": "Postal Code", "data": "4" },
                    { "title": "Telephone", "data": "5" }
        ]
        DTable("datatablepopup", '@Url.Action("GetPopupSite","Setup")', Column, '{}');
        $('#datatablepopup tbody').on('click', 'tr', function () {
            var d = table.row(this).data();
            if (Jenis == '1') {
                $("#SiteCode").val(d[0]);
                $("#SiteName").val(d[1]);
            }
            else {
                $("#EditSiteCode").val(d[0]);
                $("#EditSiteName").val(d[1]);
            }
            $('#Lookup').modal('hide');
        });
    }

    function InputLocation() {
        var LocationCodeId = document.getElementById("LocationCodeId").value;
        var LocationNameId = document.getElementById("LocationNameId").value;
        var SiteCode = document.getElementById("SiteCode").value;
        var Aktif = document.getElementById("ActiveId").value;

        if (document.getElementById("ActiveId").checked) {
            var Aktif = "1";
        }
        else {
            var Aktif = "0";
        }

        if (LocationCodeId == "") {
            $(".modal-body #peringatan3").text("Location Code must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (LocationNameId == "") {
            $(".modal-body #peringatan3").text("Location Name must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (SiteCode == "") {
            $(".modal-body #peringatan3").text("Site must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        }
        else {
                $.ajax({
                    url: '@Url.Action("InsertLocation", "Setup")',
                    type: 'post',
                    cache: false,
                    async: true,
                    data: {
                        LocationCodeId: LocationCodeId,
                        LocationNameId: LocationNameId,
                        SiteCode: SiteCode,
                        ActiveId : Aktif
                    },
                    success: function (response) {
                        if (response.success == true) {
                            $(".modal-body #peringatan2").text(response.responseText);
                            $('#btnok').click(function (e) {
                                  window.location.href = "@Url.Action("Locations","Setup")";
                            })
                            $("#Alert2").modal();
                        } else {
                            $(".modal-body #peringatan3").text(response.responseText);
                            $('#btnerror').click(function (e) {
                                $('#Alert3').modal('hide');
                            })
                            $("#Alert3").modal();
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $(".modal-body #peringatan1").text("Please Wait...");
                        $('#btncaution').click(function (e) {
                            $('#Alert1').modal('hide');
                        })
                        $("#Alert1").modal();
                    }
                });
        }
    }

    function InputEditLocation() {
        var EditLocationCodeId = document.getElementById("EditLocationCodeId").value;
        var EditLocationNameId = document.getElementById("EditLocationNameId").value;
        var EditSiteCode = document.getElementById("EditSiteCode").value;
        var Aktif = document.getElementById("EditActiveId").value;

        if (document.getElementById("EditActiveId").checked) {
            var Aktif = "1";
        }
        else {
            var Aktif = "0";
        }

        if (EditLocationCodeId == "") {
            $(".modal-body #peringatan3").text("Location Code must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (EditLocationNameId == "") {
            $(".modal-body #peringatan3").text("Location Name must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (EditSiteCode == "") {
            $(".modal-body #peringatan3").text("Site must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        }
        else {
            $(".modal-body #peringatan4").text("Are You Sure Update Data: " + EditLocationCodeId + ' ( ' + EditLocationNameId + " ) ? ");
            $('#btnyes').click(function (e) {
                $('#Alert4').modal('hide');

                $.ajax({
                    url: '@Url.Action("UpdateLocation", "Setup")',
                    type: 'post',
                    cache: false,
                    async: true,
                    data: {
                        EditLocationCodeId: EditLocationCodeId,
                        EditLocationNameId: EditLocationNameId,
                        EditSiteCode: EditSiteCode,
                        ActiveId: Aktif
                    },
                    success: function (response) {
                        if (response.success == true) {
                            $(".modal-body #peringatan2").text(response.responseText);
                            $('#btnok').click(function (e) {
                                window.location.href = "@Url.Action("Locations","Setup")";
                            })
                            $("#Alert2").modal();
                        } else {
                            $(".modal-body #peringatan3").text(response.responseText);
                            $('#btnerror').click(function (e) {
                                $('#Alert3').modal('hide');
                            })
                            $("#Alert3").modal();
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $(".modal-body #peringatan1").text("Please Wait...");
                        $('#btncaution').click(function (e) {
                            $('#Alert1').modal('hide');
                        })
                        $("#Alert1").modal();
                    }
                });
            });
            $('#btnno').click(function (e) {
                $('#Alert4').modal('hide');
            });
            $("#Alert4").modal();
        }
    }

    function UpdateLocationS(NoID, LocationCode, LocationName, SiteCode, SiteName, Aktif) {
        if (Aktif == "Y") {
            $(".icheckbox_flat-green").addClass('checked');
        }

        $(".modal-body #EditLocationCodeId").val(LocationCode);
        $(".modal-body #EditLocationNameId").val(LocationName);

        $(".modal-body #EditSiteCode").val(SiteCode);
        $(".modal-body #EditSiteName").val(SiteName)
        ;
        $(".modal-body #NoID").val(NoID);

        $("#editModal").modal();

    }

    function CancelData() {
        $(".modal-body #SiteCode").val('');
        $(".modal-body #SiteName").val('');
        
    }

</script>

<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="menusect">
                        <h5>
                            Setup •
                            <a href="/setup/locations" class="activemenu">Locations</a>
                        </h5>
                    </div>
                    <div class="x_title">
                        <h2>List of Locations</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <p class="headcontent">
                            You may also add Locations. Locations are a subset of Sites. For example, the Site may be a building or address. 
                            The Location may be a specific room, office or floor within the Site. Select a Site and add your list of Locations here.
                        </p>

                        <div class="form-group col-md-12 col-sm-12 col-xs-12 mgbtm20 locationsite">
                            <label class="control-label col-md-1 col-sm-1 col-xs-12 mgtp8">Select a Site</label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input id="SiteLocationId" list="Site" name="Site" class="form-control" placeholder="Select Site">
                                <datalist id="Site">
                                    <option value="Site 1">
                                    <option value="Site 2">
                                    <option value="Site 3">
                                    <option value="Site 4">
                                    <option value="Site 5">
                                </datalist>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 text-muted font-13 m-b-30 no-padding">
                            <div class="mgbtm20">
                                <a href="#" id="tambahsite" class="btn btn-success btn-cust">Add New Location</a>
                            </div>
                        </div>
                        <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action">
                            <thead>
                                <tr>
                                    <th width="3%"><input type="checkbox" id="check-all" class="checks"></th></th>
                                    <th width="12%">Location Code</th>
                                    <th>Location Name</th>
                                    <th width="9%">Site Code</th>
                                    <th width="9%">Site Name</th>
                                    <th>Active</th>
                                    <th style="width:9%;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td><input type="checkbox" id="check-all" class="checks"></td>
                                    <td><a href="#">@Html.DisplayFor(modelItem => item.LocationCode)</a></td>
                                    <td><a href="#">@Html.DisplayFor(modelItem => item.LocationName)</a></td>
                                    <td><a href="#">@Html.DisplayFor(modelItem => item.SiteCode)</a></td>
                                    <td><a href="#">@Html.DisplayFor(modelItem => item.SiteName)</a></td>
                                    <td><a href="#">@Html.DisplayFor(modelItem => item.bActive)</a></td>
                                    <td class="txtcenter">
                                        <button id="editlocationbutton" name="editlocationbutton" type="button" class="btn btn-success" onclick="UpdateLocationS('@Html.DisplayFor(modelItem => item.Id)','@Html.DisplayFor(modelItem => item.LocationCode)','@Html.DisplayFor(modelItem => item.LocationName)','@Html.DisplayFor(modelItem => item.SiteCode)','@Html.DisplayFor(modelItem => item.SiteName)','@Html.DisplayFor(modelItem => item.Aktif)')"><span class="glyphicon glyphicon-edit"></span>&nbsp;</button>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL1 START -->
<div class="modal fade" id="addModal" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content col-md-12 col-sm-12 col-xs-12 pdlr1">
            <div class="modal-header">
                <h4 class="modal-title ">Add a Location</h4>
            </div>
            <div class="modal-body col-md-12 col-sm-12 col-xs-12">

                <form class="form-horizontal form-label-left">

                    <!--<div class="form-group mgb25">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12">Enter the data about your new site in the fields below and we will add it to your list.</label>
                    </div>-->

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Location Code</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="LocationCodeId" type="text" name="LocationCode" class="form-control col-md-10" placeholder="Location Code" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Location Name</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="LocationNameId" type="text" name="LocationName" class="form-control col-md-10" placeholder="Location Name" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Site Code</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <div class="input-group">
                                <input class="form-control readonly" id="SiteCode" name="SiteCode" value="" type="hidden" data-id="i" autocomplete="off" required="" />
                                <input class="form-control readonly" id="SiteName" name="SiteName" value="" type="text" data-id="i" autocomplete="off" required="" readonly />
                                <span class="input-group-btn">
                                    <a class="btn btn-info" onclick="Sites('1')" data-target="#Lookup" data-toggle="modal" style="margin-right:0;height: 34px;">
                                        <i class="fa fa-search fa-fw"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Active</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <div class="checkbox">
                                <label style="padding-left:0 !important">
                                    <input id="ActiveId" type="checkbox" class="flat" value=""> Yes
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="ln_solid col-md-12 col-sm-12 col-xs-12"></div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12 pdlr0">
                        <div class="row col-md-12 col-sm-12 col-xs-12 pdlr0" style="text-align:right;">
                            <button id="LocationAddId" type="button" class="btn btn-primary" onclick="InputLocation(); return false;">Add</button>
                            <button id="LocationCancelId" type="button" onclick="CancelData();" class="btn btn-default">Cancel</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
<!-- MODAL1 END -->

<!-- MODAL2 START -->
<div class="modal fade" id="editModal" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content col-md-12 col-sm-12 col-xs-12 pdlr1">
            <div class="modal-header">
                <h4 class="modal-title ">Edit Location</h4>
            </div>
            <div class="modal-body col-md-12 col-sm-12 col-xs-12">

                <form class="form-horizontal form-label-left">

                    <!--<div class="form-group mgb25">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12">Enter the data about your new site in the fields below and we will add it to your list.</label>
                    </div>-->

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Location Code</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="NoId" type="hidden" name="NoId" value=""/>
                            <input id="EditLocationCodeId" type="text" name="LocationCode" class="form-control col-md-10" value="Location Code" placeholder="Location Code" readonly/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Location Name</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input id="EditLocationNameId" type="text" name="LocationName" class="form-control col-md-10" value="Location Name" placeholder="Location Name" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Site Code</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <div class="input-group">
                                <input class="form-control readonly" id="EditSiteCode" name="EditSiteCode" value="" type="hidden" data-id="i" autocomplete="off" required="" />
                                <input class="form-control readonly" id="EditSiteName" name="EditSiteName" value="" type="text" data-id="i" autocomplete="off" required="" readonly />
                                <span class="input-group-btn">
                                    <a class="btn btn-info" onclick="Sites('2')" data-target="#Lookup" data-toggle="modal" style="margin-right:0;height: 34px;">
                                        <i class="fa fa-search fa-fw"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Active</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <div class="checkbox">
                                <label style="padding-left:0 !important">
                                    <input id="EditActiveId" class="flat" name="EditActiveId" type="checkbox" value=""> Yes
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="ln_solid col-md-12 col-sm-12 col-xs-12"></div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12 pdlr0">
                        <div class="row col-md-12 col-sm-12 col-xs-12 pdlr0" style="text-align:right;">
                            <button id="EditLocationId" type="button" class="btn btn-primary" onclick="InputEditLocation(); return false;">Edit</button>
                            <button id="CancelLocationId" type="button" class="btn btn-default">Cancel</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
<!-- MODAL2 END -->
@Html.Partial("~/Views/Shared/PopupModal.cshtml")
@Html.Partial("~/Views/Shared/WarningModal.cshtml")
@RenderPage("~/Views/Shared/_FooterLayout.cshtml")

<script type="text/javascript">
      $(document).ready(function(){
          $("#tambahsite").click(function () {
              $("#addModal").modal();
          });
          //$("#LocationAddId").click(function () {
          //    $("#addModal").modal('toggle');
          //});
          $("#LocationCancelId").click(function () {
              $("#addModal").modal('toggle');
          });

          $("#editlocationbutton").click(function () {
              $("#editModal").modal();
          });
          //$("#EditLocationId").click(function () {
          //    $("#editModal").modal('toggle');
          //});
          $("#CancelLocationId").click(function () {
              $("#editModal").modal('toggle');
          });
      });

      $("#check-all").click(function () {
          $(".checks").prop('checked', $(this).prop('checked'));
      });

</script>
