@model CORE.JGC.Models.MsSite[]
@{
    ViewBag.Title = "Sites";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    function InputSite() {
        var SiteCodeId = document.getElementById("SiteCodeId").value;
        var SiteNameId = document.getElementById("SiteNameId").value;
        var AddressId = document.getElementById("AddressId").value;
        var CityId = document.getElementById("CityId").value;
        var PostalCodeId = document.getElementById("PostalCodeId").value;
        var TelephoneId = document.getElementById("TelephoneId").value;
        var Aktif = document.getElementById("ActiveId").value;

        if (document.getElementById("ActiveId").checked) {
            var Aktif = "1";
        }
        else {
            var Aktif = "0";
        }

        if (SiteCodeId == "") {
            $(".modal-body #peringatan3").text("Site Code must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (SiteNameId == "") {
            $(".modal-body #peringatan3").text("Site Name must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (AddressId == "") {
            $(".modal-body #peringatan3").text("Address must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (CityId == "") {
            $(".modal-body #peringatan3").text("City must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (PostalCodeId == "") {
            $(".modal-body #peringatan3").text("Postal Code must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (TelephoneId == "") {
            $(".modal-body #peringatan3").text("Telephone must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        }
        else {
            $.ajax({
                url: '@Url.Action("InsertSite", "Setup")',
                type: 'post',
                cache: false,
                async: true,
                data: {
                    SiteCodeId: SiteCodeId,
                    SiteNameId: SiteNameId,
                    AddressId: AddressId,
                    CityId: CityId,
                    PostalCodeId: PostalCodeId,
                    TelephoneId: TelephoneId,
                    ActiveId : Aktif
                },
                success: function (response) {
                    if (response.success == true) {
                        $(".modal-body #peringatan2").text(response.responseText);
                        $('#btnok').click(function (e) {
                            window.location.href = "@Url.Action("Sites","Setup")";
                        })
                        $("#Alert2").modal();
                    } else {
                        $(".modal-body #peringatan3").text(response.responseText);
                        $('#btnerror').click(function (e) {
                            $('#Alert3').modal('hide');
                        })
                        $("#Alert3").modal();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $(".modal-body #peringatan1").text("Please Wait...");
                    $('#btncaution').click(function (e) {
                        $('#Alert1').modal('hide');
                    })
                    $("#Alert1").modal();
                }
            });
        }
    }

    function InputEditSite() {
        var EditSiteCodeId = document.getElementById("EditSiteCodeId").value;
        var EditSiteNameId = document.getElementById("EditSiteNameId").value;
        var EditAddressId = document.getElementById("EditAddressId").value;
        var EditCityId = document.getElementById("EditCityId").value;
        var EditPostalCodeId = document.getElementById("EditPostalCodeId").value;
        var EditTelephoneId = document.getElementById("EditTelephoneId").value;
        var Aktif = document.getElementById("EditActiveId").value;

        if (document.getElementById("EditActiveId").checked) {
            var Aktif = "1";
        }
        else {
            var Aktif = "0";
        }

        if (EditSiteCodeId == "") {
            $(".modal-body #peringatan3").text("Site Code must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (EditSiteNameId == "") {
            $(".modal-body #peringatan3").text("Site Name must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (EditAddressId == "") {
            $(".modal-body #peringatan3").text("Address must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (EditCityId == "") {
            $(".modal-body #peringatan3").text("City must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (EditPostalCodeId == "") {
            $(".modal-body #peringatan3").text("Postal Code must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        } else if (EditTelephoneId == "") {
            $(".modal-body #peringatan3").text("Telephone must be filled");
            $('#btnerror').click(function (e) {
                $('#Alert3').modal('hide');
            })
            $("#Alert3").modal();
        }
        else {
            $(".modal-body #peringatan4").text("Are You Sure Update Data: " + EditSiteCodeId + ' ( ' + EditSiteNameId + " ) ? ");
            $('#btnyes').click(function (e) {
                $('#Alert4').modal('hide');


                $.ajax({
                    url: '@Url.Action("UpdateSite", "Setup")',
                    type: 'post',
                    cache: false,
                    async: true,
                    data: {
                        EditSiteCodeId: EditSiteCodeId,
                        EditSiteNameId: EditSiteNameId,
                        EditAddressId: EditAddressId,
                        EditCityId: EditCityId,
                        EditPostalCodeId: EditPostalCodeId,
                        EditTelephoneId: EditTelephoneId,
                        ActiveId: Aktif
                    },
                    success: function (response) {
                        if (response.success == true) {
                            $(".modal-body #peringatan2").text(response.responseText);
                            $('#btnok').click(function (e) {
                                window.location.href = "@Url.Action("Sites","Setup")";
                            })
                            $("#Alert2").modal();
                        } else {
                            $(".modal-body #peringatan3").text(response.responseText);
                            $('#btnerror').click(function (e) {
                                $('#Alert3').modal('hide');
                            })
                            $("#Alert3").modal();
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $(".modal-body #peringatan1").text("Please  Wait...");
                        $('#btncaution').click(function (e) {
                            $('#Alert1').modal('hide');
                        })
                        $("#Alert1").modal();
                    }
                });
            });
            $('#btnno').click(function (e) {
                $('#Alert4').modal('hide');
            });
            $("#Alert4").modal();
        }
    }

    function UpdateSiteS(NoID, SiteCodeId, SiteNameId, AddressId, CityId, PostalCodeId, TelephoneId, Aktif) {
        if (Aktif == "Y") {
            $(".icheckbox_flat-green").addClass('checked');
        }

        $(".modal-body #EditSiteCodeId").val(SiteCodeId);
        $(".modal-body #EditSiteNameId").val(SiteNameId);

        $(".modal-body #EditAddressId").val(AddressId);
        $(".modal-body #EditCityId").val(CityId);
        $(".modal-body #EditPostalCodeId").val(PostalCodeId);
        $(".modal-body #EditTelephoneId").val(TelephoneId);

        $(".modal-body #NoID").val(NoID);

        $("#editModal").modal();

    }

</script>

<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="menusect">
                        <h5>
                            Setup •
                            <a href="/setup/sites" class="activemenu">Sites</a>
                        </h5>
                    </div>
                    <div class="x_title">
                        <h2>List of Sites</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <p class="headcontent">AssetTiger allows you to enter multiple Sites. For example, the Site may be a building or address. This means that you can better track each asset that is assigned to a given Site. A detailed Site makes it easy to find and count each asset.</p>

                        <p class="text-muted font-13 m-b-30">
                            <div class="mgbtm20">
                                <a href="#" id="tambahsite" class="btn btn-success btn-cust">Add New Site</a>
                            </div>
                        </p>
                        <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action">
                            <thead>
                                <tr>
                                    <th width="3%"><input type="checkbox" id="check-all" class="checks"></th></th>
                                    <th width="9%">Site Code</th>
                                    <th>Site Name</th>
                                    <th>Address</th>
                                    <th>City</th>
                                    <th>Postal Code</th>
                                    <th>Telephone</th>
                                    <th>Active</th>
                                    <th style="width:9%;"></th>
                                </tr>
                            </thead>
                            <tbody>
                               @foreach (var item in Model)
                               {
                                <tr>
                                    <td><input type="checkbox" id="check-all" class="checks"></td>
                                    <td><a href="#">@Html.DisplayFor(modelItem => item.SiteCode)</a></td>
                                    <td><a href="#">@Html.DisplayFor(modelItem => item.SiteName)</a></td>
                                    <td><a href="#">@Html.DisplayFor(modelItem => item.Address)</a></td>
                                    <td><a href="#">@Html.DisplayFor(modelItem => item.City)</a></td>
                                    <td><a href="#">@Html.DisplayFor(modelItem => item.PostalCode)</a></td>
                                    <td><a href="#">@Html.DisplayFor(modelItem => item.Telephone)</a></td>
                                    <td><a href="#">@Html.DisplayFor(modelItem => item.bActive)</a></td>
                                    <td class="txtcenter">
                                        <button id="editlocationbutton" name="editsitebutton" type="button" class="btn btn-success" onclick="UpdateSiteS('@Html.DisplayFor(modelItem => item.Id)','@Html.DisplayFor(modelItem => item.SiteCode)','@Html.DisplayFor(modelItem => item.SiteName)','@Html.DisplayFor(modelItem => item.Address)','@Html.DisplayFor(modelItem => item.City)','@Html.DisplayFor(modelItem => item.PostalCode)','@Html.DisplayFor(modelItem => item.Telephone)','@Html.DisplayFor(modelItem => item.Aktif)')"><span class="glyphicon glyphicon-edit"></span>&nbsp;</button>
                                    </td>
                                </tr>
                               }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL1 START -->
<div class="modal fade" id="addModal" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content col-md-12 col-sm-12 col-xs-12 pdlr1">
            <div class="modal-header">
                <h4 class="modal-title ">Add a Site</h4>
            </div>
            <div class="modal-body col-md-12 col-sm-12 col-xs-12">

                <form class="form-horizontal form-label-left">

                    <!--<div class="form-group mgb25">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12">Enter the data about your new site in the fields below and we will add it to your list.</label>
                    </div>-->

                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Site Code</label>
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <input id="SiteCodeId" type="text" name="SiteCode" class="form-control col-md-10" placeholder="Site Code" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Site Name</label>
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <input id="SiteNameId" type="text" name="SiteName" class="form-control col-md-10" placeholder="Site Name" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Address</label>
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <input id="AddressId" type="text" name="Address" class="form-control col-md-10" placeholder="Address" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">City</label>
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <input id="CityId" type="text" name="City" class="form-control col-md-10" placeholder="City" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Postal Code</label>
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <input id="PostalCodeId" type="number" name="Postal Code" class="form-control col-md-10" placeholder="Postal Code" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Telephone</label>
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <input id="TelephoneId" type="tel" name="Telephone" class="form-control col-md-10" placeholder="Telephone" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Active</label>
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <div class="checkbox">
                                <label style="padding-left:0 !important">
                                    <input id="ActiveId" type="checkbox" class="flat" value=""> Yes
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="ln_solid col-md-12 col-sm-12 col-xs-12"></div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12 pdlr0">
                        <div class="row col-md-12 col-sm-12 col-xs-12 pdlr0" style="text-align:right;">
                            <button id="SiteAddId" type="button" class="btn btn-primary" onclick="InputSite(); return false;" >Add</button>
                            <button id="SiteCancelId" type="button" class="btn btn-default">Cancel</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
<!-- MODAL1 END -->

<!-- MODAL2 START -->
<div class="modal fade" id="editModal" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content col-md-12 col-sm-12 col-xs-12 pdlr1">
            <div class="modal-header">
                <h4 class="modal-title ">Edit Site</h4>
            </div>
            <div class="modal-body col-md-12 col-sm-12 col-xs-12">

                <form class="form-horizontal form-label-left">

                    <!--<div class="form-group mgb25">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12">Enter the data about your new site in the fields below and we will add it to your list.</label>
                    </div>-->

                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Site Code</label>
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <input id="NoId" type="hidden" name="NoId" value="" />
                            <input id="EditSiteCodeId" type="text" name="SiteCode" class="form-control col-md-10" value="Site Code" placeholder="Site Code" readonly />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Site Name</label>
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <input id="EditSiteNameId" type="text" name="SiteName" class="form-control col-md-10" value="Site Name" placeholder="Site Name" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Address</label>
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <input id="EditAddressId" type="text" name="Address" class="form-control col-md-10" value="Address" placeholder="Address" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">City</label>
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <input id="EditCityId" type="text" name="City" class="form-control col-md-10" value="City" placeholder="City" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Postal Code</label>
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <input id="EditPostalCodeId" type="number" name="Postal Code" class="form-control col-md-10" value="12320" placeholder="Postal Code" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Telephone</label>
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <input id="EditTelephoneId" type="tel" name="Telephone" class="form-control col-md-10" value="08128389302" placeholder="Telephone" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Active</label>
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <div class="checkbox">
                                <label style="padding-left:0 !important">
                                    <input id="EditActiveId" type="checkbox" class="flat" value=""> Yes
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="ln_solid col-md-12 col-sm-12 col-xs-12"></div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12 pdlr0">
                        <div class="row col-md-12 col-sm-12 col-xs-12 pdlr0" style="text-align:right;">
                            <button id="EditSiteId" type="button" class="btn btn-primary" onclick="InputEditSite(); return false;" >Edit</button>
                            <button id="CancelSiteId" type="button" class="btn btn-default">Cancel</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
<!-- MODAL2 END -->

@Html.Partial("~/Views/Shared/WarningModal.cshtml")
@RenderPage("~/Views/Shared/_FooterLayout.cshtml")

<script type="text/javascript">
      $(document).ready(function(){
          $("#tambahsite").click(function () {
              $("#addModal").modal();
          });
          //$("#SiteAddId").click(function () {
          //    $("#addModal").modal('toggle');
          //});
          $("#SiteCancelId").click(function () {
              $("#addModal").modal('toggle');
          });

          $("#editsite").click(function () {
              $("#editModal").modal();
          });
          //$("#EditSiteId").click(function () {
          //    $("#editModal").modal('toggle');
          //});
          $("#CancelSiteId").click(function () {
              $("#editModal").modal('toggle');
          });

      });

    $("#check-all").click(function () {
        $(".checks").prop('checked', $(this).prop('checked'));
    });

</script>